<template>
  <div id="app">
    <nav-bar class="default-theme" id="nav-bar-container"></nav-bar>
    <k-header class="default-theme" id="header-container" :color="envColor"></k-header>
    <router-view id="main-container"></router-view>
  </div>
</template>

<script>
import NavBar from './components/NavBar'
import KHeader from './components/KHeader'

export default {
  name: 'App',
  components: {
    NavBar,
    KHeader
  },
  data() {
    return {
      envColor: 'darkslategray'
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns:  80px auto;
}

#app #nav-bar-container {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

#app #header-container {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

#app #main-container {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.default-theme {
  color: aliceblue;
  background-color: darkslategrey;
}

.default-theme .btn {
  border: thin solid aliceblue;
  background: aliceblue;
  color: darkslategray;
  margin: 8px;
}

.default-theme .add.btn {
  border-radius: 20px 20px 0 20px;
}

body {
  margin: 0;
}
</style>
