<template>
  <div
    class="block__container"
    :style="{'background-color': color}">
    <span class="title">Dark Keeper</span>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'red'
    }
  }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Amaranth');

  .block__container {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
  }

  .title {
    font-family: 'Amaranth', sans-serif;
    font-size: 38px;
    font-weight: bold;
    float: left;
    margin: 0 20px;
  }
</style>
