<template>
  <div id="nav-bar" ref="container">
    <div class="add btn">+</div>
    <pane-button paneId="home" paneIcon="home"></pane-button>
  </div>
</template>

<script>
import PaneButton from './PaneButton'

export default {
  name: 'NavBar',
  components: {PaneButton},
  data () {
    return {
      panes: []
    }
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  #nav-bar {
    width: 74px;
    padding: 5px;
    min-height: 100vh;
  }

  .add {
    font-size: 58px;
    font-weight: bold;
    cursor: pointer;
  }
</style>
