<template>
  <div class="btn">
    {{ roomName }}
  </div>
</template>

<script>
export default {
  name: 'PaneButton',
  data () {
    return {
      paneId: '',
      roomName: ''
    }
  },
  methods () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
